/app/runtime/*
!/app/runtime/.gitkeep
/vendor
/app/config/local_settings.php
/app/config/params.php
/node_modules
/public_html/temp/*
/public_html/media
/static_admin/*
/pull.bat

.idea
.DS_Store
.vscode
yarn.lock
composer.phar
webpack.static_admin.config.js
/public_html/.htaccess
/public_html/amo/params.php
/public_html/amo/params.example.php
/public_html/prodlenie/amo/tmp/token_info.json
/public_html/amo/tmp/token_info.json
/public_html/tmp
/public_html/images/categories
/public_html/convert.php
/public_html/core/system/mysql/db.php
/public_html/templates_cache
/public_html/images.php
/public_html/images/update
/public_html/test.php

/database