/app/runtime/*
!/app/runtime/.gitkeep
/vendor
/app/config/local_settings.php
/app/config/params.php
/node_modules
/public_html/temp/*
/public_html/media
/static_admin/*
/pull.bat

.idea
.DS_Store
.vscode
yarn.lock
composer.phar
webpack.static_admin.config.js
/images/logo*
/test*
/database