.header__top {
	border-bottom: 10px solid var(--primary-color);
}

.header__top-container {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	align-items: center;
	position: relative;
}

.header__search-form {
	width: 250px;
	height: 32px;
}

.header__main-container {
	position: relative;
}

.header__breadcrumbs {
	position: absolute;
	top: 25px;
	left: 15px;
}

.header__label {
	position: relative;
	top: -30px;
	margin-bottom: -10px;
}

.header__button {
	margin-left: auto;
	margin-right: auto;
}

@media (max-width: 1279px) {

	.header__label {
		top: -20px;
		margin-bottom: 0px;
	}

}

@media (max-width: 979px) {

	.header__label {
		top: 0;
		margin-bottom: 20px;
	}

}

@media (max-width: 767px) {

	.header__logo {
		width: auto;
	}

	.header__logo-text {
		display: none;
	}

	.header__search-form {
		flex-grow: 1;
		margin: 0 20px;
	}

	.header__breadcrumbs {
		position: relative;
		top: -20px;
		left: 0;
	}

}

@media (max-width: 546px) {

	.header__top-container {
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.header__search-form {
		order: 1;
		width: 100%;
		margin: 15px 0 0 0;
	}

}