.accordion {
	counter-reset: myCounter;
}

.accordion__item + .accordion__item {
	margin-top: 12px;
}

.accordion__item {
	padding: 10px;
	background-color: var(--light-color);
	box-shadow: 0 5px 10px 0 var(--box-shadow-color);
}

.accordion__item-header {
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	padding-left: 10px;
	cursor: pointer;
	position: relative;
	z-index: 5;
}

.accordion__title {
	font-size: 17px;
	font-weight: 500;
	margin-right: auto;
	position: relative;
	counter-increment: myCounter 1;
	padding-left: 24px;
}

.accordion__title:before {
	position: absolute;
	content: counter(myCounter)".";
	left: 0;
}

.accordion__toggle-icon {
	width: 24px;
	height: 24px;
	background-image: url(../../images/icons/arrow-down.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
	opacity: 0.5;
	transition: .3s;
	flex-shrink: 0;
}

.accordion__item_opened .accordion__toggle-icon {
	transform: rotateX(-180deg);
}

.accordion__item-body {
	margin-top: 10px;
	padding: 20px 10px 10px 10px;
	border-top: 1px solid transparent;
	display: none;
	position: relative;
	transition: border-color .3s;
}

.accordion__item_opened .accordion__item-body {
	border-color: rgba(141, 141, 141, 0.5);
}