.icon {
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.icon-bulb,
.icon-bulb.img {
	background-image: url(../../images/icons/bulb.png);
}

.icon-bulb.webp {
	background-image: url(../../images/icons/bulb.webp);
}

.icon-list,
.icon-list.img {
	background-image: url(../../images/icons/list.png);
}

.icon-list.webp {
	background-image: url(../../images/icons/list.webp);
}