.logo {
	width: 335px;
	display: flex;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-align-items: center;
	align-items: center;
}

.logo__image {
	width: 160px;
	height: 50px;
	background-image: url(../../images/logo.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	flex-shrink: 0;
}

.logo__text {
	font-size: 14px;
	padding-left: 12px;
}

@media (max-width: 479px) {

	.logo {
		width: unset;
	}

	.logo__text {
		display: none;
	}

}