.table__head {
	background-color: rgba(141, 141, 141, 0.3);
	border-top: 5px solid var(--medium-color);
	font-size: 17px;
	font-weight: 700;
}

.table__row {
	display: grid;
	grid-template-columns: 8% 47% 24% 21%;
	border-left: 1px solid var(--medium-color);
	border-right: 1px solid var(--medium-color);
	border-bottom: 1px solid var(--medium-color);
}

.table__row:nth-of-type(2n) {
	background-color: var(--light-color);
}

.table__cell {
	padding: 10px 12px;
}

.table__cell + .table__cell {
	border-left: 1px solid var(--medium-color);
}

.table__cell_centered {
	text-align: center;
}

@media (max-width: 979px) {

	.table__head {
		font-size: 16px;
	}

	.table__row {
		grid-template-columns: 9% 44% 20% 27%;
	}

	.table__cell {
		padding: 10px 5px;
	}

}