:root {
	--font-family: "Rubik", Arial, sans-serif;
	--primary-color: #d13030;
	--secondary-color: #1d7d7d;
	--tertiary-color: #ffd300;
	--dark-color: #222222;
	--medium-color: #444444;
	--light-color: #ffffff;
	--background-color-dark: #0e3a5d;
	--background-color-light: #f0f1f3;
	--copyright-color: #8d8d8d; /* rgba(141, 141, 141) */
	--box-shadow-color: rgba(48, 71, 88, 0.25);
	--link-color: #62e5e5;
	/* --success-color: #;
	--warning-color: #;
	--danger-color: #; */
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-family);
	font-size: 16px;
	line-height: 1.2;
	color: var(--medium-color);
}

a {
	text-decoration: none;
	color: inherit;
}

ul,
ol {
	list-style-type: none;
}

p,
a,
ul li,
ol li,
div {
	-webkit-text-size-adjust: 100%;
}

img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	border: none;
	outline: none;
}

.section_bg-light {
	background-color: var(--background-color-light);
}

.section_bg-dark {
	background-color: var(--background-color-dark);
	color: var(--light-color);
}

.container {
	width: 100%;
	max-width: 1200px;
	padding: 80px 15px;
	margin: 0 auto;
}

.title {
	font-weight: 500;
	margin-bottom: 40px;
}

.title__highlight {
	color: var(--tertiary-color);
}

.main-title {
	font-size: 40px;
}

.section-title {
	font-size: 32px;
}

.subtitle {
	font-size: 17px;
	font-weight: 500;
}

.text_decorated {
	width: 100%;
	max-width: 760px;
	padding: 20px;
	background-color: rgba(255, 255, 255, 0.5);
	border-left: 3px solid var(--primary-color);
}

.paragraph + .paragraph {
	margin-top: 20px;
}

.paragraph + .list {
	margin-top: 20px;
}

.list_unordered {
	list-style-type: disc;
	padding-left: 20px;
}

.link {
	color: var(--secondary-color);
	text-decoration: underline;
	transition: .3s;
	cursor: pointer;
}

.link:hover {
	text-decoration: none;
}

.link_light {
	color: var(--link-color);
}

@media (max-width: 1279px) {

	.container {
		max-width: 950px;
	}

}

@media (max-width: 979px) {

	.container {
		max-width: 750px;
		padding: 60px 15px;
	}

}

@media (max-width: 767px) {

	.container {
		max-width: unset;
	}

	.section-title {
		font-size: 28px;
	}

}

@media (max-width: 479px) {

	.section-title {
		margin-bottom: 25px;
	}

	.section-title {
		font-size: 25px;
	}

}